<% if entry.persisted? %>
  <tr>
    <td><%= l(entry.created_at) %></td>
    <td><%= l(entry.call_back_at) if entry.call_back_at.present? %></td>
    <td><%= entry.user.name %></td>
    <td class='aleft'><%= entry.description %></td>
    <td class='toggled-text'><%= spaced_text(entry.description) %></td>
    <td><%= entry.status_humanize %></td>
  </tr>
<%end%>
