<p>
  <%= @document.company_name %>,
  <%= @document.nationality.downcase %>,
  <%= @document.relationship_status_humanize.downcase %>,
  <%= UnicodeUtils.downcase(@document.occupation) %>, residente à
  <%= "#{@document.full_address} - CEP #{@document.postal_code} - #{@document.city} - #{@document.state}" %>
  e portador do CPF <%= formatted_cpf(@document.cpf) %> e Cédula de Identidade
  <%= @document.rg  %>
</p>
