<section class='resource_menu'>
  <section class='resource_title'>
    <h1 class='sprite config-user'>Configuração do Usuário</h1>
  </section>
</section>

<%= simple_form_for [:config, @user] do |form| %>
  <section class='form-painel config-user'>
    <div class="row-fluid">
      <div class="span12">
        <section class='form'>
          <section class='form-inputs'>
            <p class='title'>
              Login
            </p>
            <p>
              <strong><%= @user.login%></strong>
            </p>
            <%= form.input :name %>
          </section>
        </section>

        <section class='form large'>
          <section class='form-inputs large'>
            <%= form.input :password %>
            <%= form.input :password_confirmation %>
          </section>
        </section>

        <section class='form small'>
          <section class='form-inputs small'>
            <%= form.button :submit, "Salvar", class: 'large' %>
          </section>
        </section>
      </div>
    </div>
  </section>
<%end%>
