<% if resource.errors.present? %>
  <div class="form-errors span12">
    <h3>Houveram alguns errors. Por favor verifique:</h3>
    <div class="span12">
      <ul>
        <% resource.errors.full_messages.each do |err|  %>
          <li>
            <%= err %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
