<script type="text/html" id="grow-template">
  <div class="grow">
    {{#clients}}
      <div class="grow-item {{sac_type}}" data-id="{{id}}">
        <img src="/assets/grow.png" />
        <div class="grow-info">
	  <span>{{notification_type}}</span>
          <h1><a href="{{link}}">{{company_name}}</a></h1>
          <h4>{{formatted_call_back_at}}
            ( <abbr title="{{call_back_at}}">{{call_back_at}}</abbr> )
          </h4>
        </div>
      </div>
    {{/clients}}
  </div>
</script>
