<% if user_signed_in? %>
  <nav id='menu'>
    <section class="clearfix">
      <ul>
        <li>
          <%= link_to 'Clientes', clients_path, class: 'menu_button' %>
        </li>
        <li>
          <% if can? :manage, User %>
            <%= link_to 'Relatórios', reports_path, class: 'menu_button' %>
          <%end%>
        </li>
        <li>
          <% if can? :manage, User %>
            <%= link_to 'Colidências', conflicts_path, class: 'menu_button' %>
          <%end%>
        </li>
        <li>
          <% if can? :manage, User %>
            <%= link_to 'Usuários', users_path, class: 'menu_button' %>
          <%end%>
        </li>
        <li class='user'>
          <%= link_to current_user.name, config_user_path(current_user), class: 'menu_button' %>
        </li>
        <li class='logout'>
          <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'menu_button' %>
        </li>
      </ul>
    </section>
  </nav>
<%end%>
