<%= simple_form_for @client, :html => {:class => 'form-horizontal two-columns'} do |form| %>
  <article class='first'>
    <%= form.input :user_id, :collection => User.all, input_html: { tabindex: 1 } %>
    <%= form.input :company_name, input_html: { tabindex: 2 } %>
    <%= form.simple_fields_for :brands do |child_form| %>
      <%= child_form.input :name, input_html: { tabindex: 4 } %>
    <%end%>
    <%= form.input :document_type, as: :select, collection: Client::DOCUMENT_TYPE, include_blank: false, input_html: { tabindex: 5 } %>
    <%= form.input :cnpj, input_html: { tabindex: 6 } %>
    <%= form.input :cpf, input_html: { tabindex: 7 } %>
    <%= form.input :annuity, :collection => Client::ANNUITIES, input_html: { tabindex: 8 }  %>
    <%= form.simple_fields_for :client_emails do |child_form| %>
      <%= child_form.input :email, input_html: { tabindex: 9 } %>
    <% end -%>
    <%= form.input :site, input_html: { tabindex: 10 } %>
    <%= form.input :primary_phone , input_html: { tabindex: 11 }%>
    <%= form.input :secondary_phone , input_html: { tabindex: 12 }%>
    <%= form.input :contact, input_html: { tabindex: 13 } %>
    <%= form.simple_fields_for :client_images do |child_form| %>
      <% if child_form.object.new_record? %>
        <%= label_tag 'Logo', nil, class: 'control-label' %>
        <div class='controls logo_upload'>
          <%= child_form.file_field(:file, multiple: true) %>
          <%= image_tag("img-add-logo.jpg") %>
        </div>
      <% end -%>
    <% end -%>
  </article>

  <article>
    <%= form.input :status, as: :select, collection: Client.state_machines[:status].states.collect{|x| [x.human_name, x.name]}.sort, input_html: { tabindex: 14 } %>

    <%= form.simple_fields_for :conflicts do |child_form| %>
      <%= child_form.input :value, input_html: { tabindex: 15 } %>
    <%end%>

    <%= form.input :postal_code, input_html: {class: 'cep', tabindex: 16 } %>
    <%= form.input :address, input_html: { tabindex: 22 } %>
    <%= form.input :complement, input_html: { tabindex: 17 }%>
    <%= form.input :neighborhood, input_html: { tabindex: 18 } %>
    <%= form.input :city , input_html: { tabindex: 19 }%>

    <%= form.input :number, input_html: { tabindex: 21 }%>
    <%= form.input :state, input_html: { tabindex: 23 } %>
  </article>

  <footer>
    <%= form.button :submit, "Salvar", class: 'button large', tabindex: 24 %>
  </footer>
<% end -%>
