<%= will_paginate @clients, renderer: BootstrapLinkRenderer %>
  
<section class='filters clearfix clients'>
  <%= form_tag(filter_clients_path, method: :get) do%>
    <section class='line'>
      <%= text_field_tag :search , params[:search] %>
      <%= submit_tag 'Pesquisar', :disable_with => 'Pesquisando...', placeholder: 'Pesquisar', class: 'button' %>
    </section>
  <% end -%>
</section>