<section id='clients'>
  <section id='new-client'>
    <%= link_to 'Adicionar Novo Cliente', new_client_path, class: 'sprite new-client-botton' %>
  </section>

  <%= render partial: 'pagination', locals: { object: @clients }%>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Razão Social</th>
        <th>Marca</th>
        <th>Status</th>
        <th>Status de Atend.</th>
        <th>Data de retorno</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'clients/client', collection: @clients, as: :client%>
    </tbody>
  </table>
</section>
