<section class='resource client index'>

  <%= content_for :info do%>
    <%= render partial: 'form' %>
  <% end -%>
  <%= render partial: 'sac/tabs/documents' %>
  <%= render partial: 'sac/tabs/process' %>
  <%= render partial: 'sac/tabs/auth' %>

  <%= render partial: 'sac/tabs/main' %>

  <section class='resource_menu'>
    <section class='resource_title'>
      <h1 class='sprite sac'>Atendimento</h1>
    </section>
  </section>

  <%= render 'sac/form' unless @client.new_record?%>
</section>
