<%= content_for :auth do %>
  <% if @client.new_record? %>
    <%= render partial: '/sac/need_save_client', locals: {client: @client} %>
  <% elsif current_user.role != 'admin' && current_user.role != 'consultant' %>
    <%= render partial: '/sac/tabs/need_to_be_admin' %>
  <% else %>
    <section id='clients'>
      <section class='resources-btns'>
        <%= link_to 'Nova Autorização de Serviço', new_service_authorization_path(@client), class: 'button large' %>
      </section>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Razão Social</th>
            <th>Marca</th>
            <th class='documents'>Outros documentos</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <%= render(partial: '/documents/documents', collection: @documents, as: :document) || render(partial: '/sac/tabs/no-data', locals: {collspan: 5}) %>
        </tbody>
      </table>
</section>
  <% end -%>
<% end -%>
