<%= content_for :info do %>
  <% if @client.new_record? %>
    <%= render partial: '/sac/need_save_client', locals: {client: @client} %>
  <% else %>
    <section class='resources-btns'>
      <%= link_to "Editar", edit_client_path(@client), class: 'button' %>
    </section>
    <div class="row-fluid">
      <div class="show_client span12">
        <section class="form">
          <section class="form-inputs">
            <%= render partial: '/sac/client_status', locals: {client: @client} %>

            <p class='title'>
              Razão Social
            </p>
            <p>
              <strong><%=m @client.company_name%></strong>
            </p>

            <p class='title'>
              Marca
            </p>
            <p>
              <strong><%= m(@client.brands.map(&:name).join(" | ")) %></strong>
            </p>

            <p class='title'>
              <%=m @client.document_type.to_sym == :company ? "CNPJ" : 'CPF' %>
            </p>

            <p>
              <strong><%= formatted_cpf(@client.cpf) || formatted_cnpj(@client.cnpj)%></strong>
            </p>

            <p class='title'>
              Nº de Processos
            </p>
            <p>
              <strong><%=m @client.client_processes.active.count%></strong>
            </p>

            <p class='title'>
              Anuidade
            </p>
            <p>
              <strong><%=m @client.translate_annuity%></strong>
            </p>

            <% @client.client_emails.each do |client_email| %>
              <p class='title'>
                E-mail
              </p>
              <p>
                <strong><%= mail_to client_email.email%></strong>
              </p>
            <%end%>

            <p class='title'>
              Nome do Contato
            </p>
            <p>
              <strong><%= @client.contact %></strong>
            </p>

            <% if @client.site.present? %>
              <p class='title'>
                Site
              </p>
              <p>
                <strong><%= link_to @client.site, "http://#{@client.site}", target: :blank %></strong>
              </p>
            <%end%>

            <section class="form-inputs">
              <p class='title'>
                Telefone 1
              </p>
              <p>
                <strong><%=m @client.primary_phone%></strong>
              </p>
            </section>

            <% if @client.secondary_phone.present? %>
              <section class="form-inputs">
                <p class='title'>
                  Telefone 2
                </p>
                <p>
                  <strong><%= @client.secondary_phone%></strong>
                </p>
              </section>
            <%end%>
          </section>
        </section>

        <section class="form right">

          <% if @client.address.present? %>
            <section class="form-inputs">
              <p class='title'>
                Endereço
              </p>
              <p>
                <strong><%= @client.address%></strong>
              </p>
            </section>
          <%end%>

          <% if @client.number.present? %>
            <section class="form-inputs">
              <p class='title'>
                Nº
              </p>
              <p>
                <strong><%= @client.number%></strong>
              </p>
            </section>
          <%end%>

          <% if @client.complement.present? %>
            <section class="form-inputs">
              <p class='title'>
                Complemento
              </p>
              <p>
                <strong><%= @client.complement%></strong>
              </p>
            </section>
          <%end%>

          <% if @client.neighborhood.present? %>
            <section class="form-inputs">
              <p class='title'>
                Bairro
              </p>
              <p>
                <strong><%= @client.neighborhood%></strong>
              </p>
            </section>
          <%end%>

          <% if @client.postal_code.present? %>
            <section class="form-inputs">
              <p class='title'>
                CEP
              </p>
              <p>
                <strong><%= @client.postal_code%></strong>
              </p>
            </section>
          <%end%>

          <% if @client.city.present? %>
            <section class="form-inputs">
              <p class='title'>
                Cidade
              </p>
              <p>
                <strong><%= @client.city%></strong>
              </p>
            </section>
          <%end%>

        <% if @client.state.present? %>    
          <section class="form-inputs">
            <p class='title'>
              Estado
            </p>
            <p>
              <strong><%= @client.state%></strong>
            </p>
          </section>
        <%end%>      
        </section>
      </div>

      <div id="show_logo" class="span12">
        <section class="form-inputs">
          <p class='title'>
            Logos
          </p>
          <ul>
            <% @client.client_images.each do |image| %>
              <li>
                <%= link_to image_tag(image.file.url, width: '134px'), image.file.url, target: "black" %>
                <div class='actions'>
                  <%= link_to "remover", remove_client_image_path(@client, image), method: :delete, confirm: 'Deseja remover esse logo?' %>
                </div>
              </li>
            <% end %>
          </ul>
        </section>
      </div>
    </div>
  <% end -%>
<% end -%>
