<nav>
  <ul>
    <li>
      <%= link_to 'Informações', '#info'%>
    </li>
    <li>
      <%= link_to 'Processos', '#process' %>
    </li>
    <li>
      <%= link_to 'Documentos', '#documents' %>
    </li>
    <li>
      <%= link_to 'Autorização', '#auth' %>
    </li>
  </ul>
</nav>