<tr>
  <td><%= processess_info.number %></td>
  <td><%= l(processess_info.filing_at) if processess_info.filing_at.present? %></td>
  <td><%= l(processess_info.grant_at) if processess_info.grant_at.present? %></td>
  <td><%= l(processess_info.validity_at) if processess_info.validity_at.present? %></td>
  <td><%= l(processess_info.start_ordinary_appeal) if processess_info.start_ordinary_appeal.present? %></td>
  <td><%= l(processess_info.finish_ordinary_appeal) if processess_info.finish_ordinary_appeal.present? %></td>
  <td><%= l(processess_info.start_extraordinary_appeal) if processess_info.start_extraordinary_appeal.present? %></td>
  <td><%= l(processess_info.finish_extraordinary_appeal) if processess_info.finish_extraordinary_appeal.present? %></td>
  <td>
    <%= link_to "Editar", edit_client_processes_path(processess_info.client, processess_info) %>
    <%= link_to "Remover", destroy_client_processes_path(processess_info.client, processess_info), method: :delete, confirm: 'Você tem certeza que deseja remover?' %>
  </td>
</tr>
