<section class='resources-btns'>
  <%= link_to 'Autorizações de Serviço', service_authorizations_path(@client, anchor: :auth), class: 'button large' %>
</section>

<%= simple_form_for(@document, :html => {:class => 'form-horizontal authorization-form two-columns', :'data-tab-start' => '3' }) do |form| %>
  <%= render partial: 'shared/form_errors', locals: {resource: @document } %>

  <article class='first'>
    <%= form.input :amount %>
    <%= form.input :payment %>
    <%= form.input :person_name %>
    <%= form.input :nationality %>
    <%= form.input :relationship_status, collection: ServiceDocument::RelationshipStatus.to_a, include_blank: false %>
    <%= form.input :rg %>
    <%= form.input :cpf %>
   <%= form.input :birth_date, input_html: { class: 'mask-date', value: params[:service_document].present? ? params[:service_document][:birth_date] : (form.object.birth_date && form.object.birth_date.strftime('%d/%m/%Y')) } %>
    <%= form.input :occupation %>
  </article>

  <article>
    <%= form.input :position %>
    <%= form.input :agent %>
    <%= form.input :agency %>
    <%= form.input :observations, as: :text %>
    <%= form.input :description, as: :text %>
  </article>

  <footer>
    <%= form.button :submit, "Salvar", class: 'button large' %>
  </footer>
<% end %>