<div id="document-header">
  <div class="logo">
    <%= image_tag("logo.png") %>
  </div>

  <div class="title">
    <h1>AUTORIZAÇÃO DE SERVIÇO</h1>
  </div>

  <div class="subtitle">
    <h2>ASSESSORIA DA PROPRIEDADE INDUSTRIAL</h2>
  </div>

  <div class="document_number">
    Nº <%= "%05d" % @document.number %>
  </div>
</div>

<table class="border" width="100%">
  <tr>
    <td>CLIENTE: <strong><%= @document.company_name %></strong></td>
    <td colspan="4"></td>
  </tr>

  <tr>
    <td>ENDEREÇO: <strong><%= @document.full_address %></strong></td>
    <td colspan="4"></td>
  </tr>

  <tr>
    <td>BAIRRO: <strong><%= @document.neighborhood %></strong></td>
    <td>CIDADE: <strong><%= @document.city %></strong></td>
    <td>EST: <strong><%= @document.state %></strong></td>
    <td colspan="2"></td>
  </tr>

  <tr>
    <td>CPF/CNPJ: <strong><%= formatted_cpf(@document.client_document) || formatted_cnpj(@document.client_document) %></strong></td>
    <td colspan="4"></td>
  </tr>

  <tr>
    <td>FONE: <strong><%= @document.phone %></strong></td>
    <td>CONTATO: <strong><%= @document.contact %></strong></td>
    <td>CEP: <strong><%= @document.postal_code %></strong></td>
    <td colspan="2"></td>
  </tr>
</table>

<table class="border informations" width="100%">
  <tr>
    <td>AUTORIZAMOS A <%= t('project.company_name')%>, A EXECUTAR NO(A) <%= @document.agency %> OS SERVIÇOS ABAIXO
      DISCRIMINADOS</td>
    <tr>
      <td><strong><%= @document.description %></strong></td>
    </tr>
  </tr>
</table>

<table class="border" width="100%">
  <tr>
    <td>O PRESENTE SERVIÇO IMPORTA EM R$: <strong><%= @document.amount %></strong></td>
    <td colspan="4"></td>
  </tr>

  <tr>
    <td>FORMA DE PAGAMENTO: <strong><%= @document.payment %></strong></td>
    <td colspan="4"></td>
  </tr>
</table>

<table class="border" width="100%">
  <tr>
    <th colspan="6">DADOS PARA PROCURAÇÃO</th>
  </tr>

  <tr>
    <td>NOME DO OUTORGANTE: <strong><%= @document.person_name %></strong></td>
    <td colspan="5"></td>
  </tr>

  <tr>
    <td>NACIONALIDADE: <strong><%= @document.nationality %></strong></td>
    <td>ESTADO CIVIL: <strong><%= @document.relationship_status_humanize %></strong></td>
    <td colspan="4"></td>
  </tr>

  <tr>
    <td>RG: <strong><%= @document.rg %></strong></td>
    <td>DATA NASC.: <strong><%= l(@document.birth_date) %></strong></td>
    <td>CPF: <strong><%= formatted_cpf(@document.cpf) %></strong></td>
    <td colspan="3"></td>
  </tr>

  <tr>
    <td>PROFISSÃO: <strong><%= @document.occupation %></strong></td>
    <td>CARGO: <strong><%= @document.position %></strong></td>
    <td colspan="4"></td>
  </tr>

  <tr>
    <td>OBSERVAÇÕES: <strong><%= @document.observations %></strong></td>
    <td colspan="5"></td>
  </tr>
</table>

<table class="border" width="100%">
  <tr>
    <td>AGENTE: <strong><%= @document.agent %></strong></td>
  </tr>

  <tr>
    <td>CLIENTE: <strong><%= @document.company_name %></strong></td>
  </tr>

  <tr>
    <td>LOCAL/DATA: <strong><%= "#{@document.city}, #{l(@document.created_at, format: :local)}" %></strong></td>
  </tr>

  <tr>
    <td>ASSINATURA:</td>
  </tr>

  <tr>
    <td>CARIMBO:</td>
  </tr>

  <tr>
    <td>
      <strong>LEGALIZAÇÃO EM GERAL:</strong>
      E por estarem justos e contratados, firmam o presente em 02 (duas) vias,
      selando desta forma os compromissos acima especificados, nas condições
      tratadas e aceitas por ambas as partes, não cabendo dúvida ou
      reclamação posterior, tendo em vista os termos. Quaisquer despachos
      relativos ao pedido em referência, serão prontamente levados ao
      conhecimento da Contratante, correndo por conta e risco da mesma, quaisquer
      inobservâncias ao cumprimento dos prazos estipulados na legislação
      em vigor "Lei 9.279 de 14 de maio de 1996". Art. 49 - Lei 8.078 - O
      contratante não poderá cancelar o mesmo após sete dias da assinatura.
    </td>
  </tr>
</table>
