// BLUEPRINT CSS
// $blueprint-grid-columns : 20;
// $blueprint-grid-width   : 36px;
// $blueprint-grid-margin  : 12px;
// $font-color             : #000;
// $blueprint-container-size : 9600px;
$ninesixty-columns : 20;
$ninesixty-gutter-width: 12px;
// @import "compass/reset";
@import "compass/utilities";
@import "960/grid"
// @import "blueprint";
// @import "blueprint/grid"
