$green: #9db16a;
$green-dark: #669966;
$border_green: #666633;

$button_color: $green;
$button_font_color: #73814f;
$buttom_border: #95a965;
$button_text_shadow: rgba(199,218,152,1);

$grey: #58595B;

$gray-text: #808285;
$gray-border: #d1d3d4;