/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap_override
 *= require_tree .
 *= require_self
 */

@import "base";
@import "colors";

body.bg {
  background: url(/assets/bg.jpg);
}

#container {
  @include grid-container;
}

#content {
  margin: 30px 0px;
}

h1, h2 {
  font-weight: normal;
  color: $green;
  font-size: 20px;
}

ul {
  margin: 0px;
  padding: 0px;
}

/*HEADER -----------------------------------------------------------------------------------*/
#top {
  @include grid(20);
  margin-bottom: 30px;
}

#top.logged_out {
  padding-bottom: 23px;
  border-bottom: 3px solid $border_green;
}

#top h1 {
  margin: 30px 0px;
}

#top .logo {
  @include grid(8);
  @include alpha;
}

#top .logo img {
  padding-right: 48px;
  border-right: 1px solid #cccccc;
}

#top .title {
  @include grid(12);
  @include omega;
}
/*HEADER END*/

.toggled-text {
  display: none;
}

.datepicker_dashboard {
  font-size: 15px;
}

.datepicker_dashboard input {
  height: 42px;
}

.loader {
  position: absolute;
  top: 4px;
  margin-left: 10px;
}

.none {
  display: none;
}
