#document-header div, .border {
  border: 2px solid #333;
  float: left;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#document-header {
  float: left;
  margin-bottom: 10px;
}

#document-header h1 {
  font-size: 40px;
  color: #333;
  font-weight: bold;
}

#document-header h2 {
  font-size: 25px;
  color: #333;
  font-weight: bold;
  line-height: 25px;
}

#document-header .logo {
  width: 500px;
  margin-right: 10px;
  padding: 40px 20px;
}

#document-header .title {
  width: 702px;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 7px;
}

#document-header .subtitle {
  width: 350px;
  text-align: center;
  padding: 5px 80px;
  margin-right: 10px;
}

#document-header .document_number {
  color: #cc0000;
  font-size: 24px;
  text-align: center;
  padding: 21px 0px;
  width: 178px;
}

.document table {
  margin-bottom: 10px;
}

.document table th {
  padding: 5px;
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 18px;
}

.document table td {
  padding: 10px;
  color: #333;
  border-bottom: 2px solid #333;
}

.document strong {
  color: #333;
  margin-left: 5px;
  text-transform: uppercase;
}

.document table.informations tr:first-child td {
  border-bottom: none;
}

.document table.informations tr:last-child td {
  padding: 0px 10px 10px 10px;
  height: 160px;
}

.document table.informations strong {
  margin-left: 0px;
}
