@import "base";
@import "colors";

#menu {
  @include grid(20);
  margin-bottom: 30px;
}

#menu li {
  @include grid(4);
  @include alpha;
  @include omega;
  list-style: none;
  height: 27px;
  border-bottom: 3px solid #59643D;
}

#menu li a {
  font-size: 1em;
  padding: 7px 20px 3px 20px;
  color: $button_font_color;
  text-shadow: 0px 1px 1px $button_text_shadow;
}

#menu li.user {
  @include grid(3);
  @include alpha;
  @include omega;
  width: 144px;
}

#menu li.user a {
  font-size: 0.75em;
  color: #000000;
  text-shadow: none;
}

#menu li.logout {
  @include grid(2);
  @include alpha;
  @include omega;
  width: 84px;
}

#menu li.logout a {
  font-size: 0.75em;
  color: #FFFFFF;
  text-shadow: none;
}

#menu li a.menu_button {
  display: block;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7cb83', endColorstr='#9db16a',GradientType=0 );
  background: rgb(167,169,172);
  background: -moz-linear-gradient(
    top,
    #b7cb83 0%,
    #9db16a);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#b7cb83),
    to(#9db16a));
  border: 1px solid #95a965;

  -webkit-box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 1);

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
#menu li a.menu_button:hover {
  background: $button_color;
  text-decoration: none;
}

#menu li a.menu_button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #9db16a;
  border: solid 1px rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  text-shadow: 0px 1px 1px #000000;
}

.resource_menu {
  @include grid(20);
}

.resource_title {
  @include grid(12);
  @include alpha;
}

.resource_actions {
  @include grid(8);
  @include omega;
}

.resource_actions li:first-child {
  @include alpha;
}

.resource_actions li:last-child {
  @include omega;
}

.resource_actions ul {
  float: right;
}

.resource_actions li {
  float: left;
  list-style: none;
  margin-right: 6px;
}

.resource_actions li a {
  display: block;
  text-align: center;
}
