@import "base";
@import "colors";
@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

$input-text-background: #f6f6f6;
$label-text-color: #808285;

.resources-btns form{
  margin-bottom: 0px;
}

.resources-btns input[type='submit']{
  font-size: 15px;
  color: $gray-text;
  @include background-image(linear-gradient(#f1f2f2, #e6e7e8));
  border: 1px solid $gray-border;
  padding: 5px 10px;
  margin-top: 0px !important;
}

.resources-btns input[type='file']{
  margin-left: 230px;
}

.resources-btns input[type='text']{
  background: $input-text-background;
  font-size: 15px;
  @include box-shadow(inset 1px 1px 5px #b5b5b5);
  @include border-radius(0px);
  @include grid(3);
}

.resources-btns input.large {
  @include grid(6);
}

.resources-btns.conflict_files label,
.resources-btns.client.process label {
  float: left;
  margin-top: 7px;
  font-size: 15px;
  color: $label-text-color;
}

.resources-btns.conflict_files form ul,
.resources-btns.client.process form ul {
  list-style: none;
  margin-left: 68px;

  li{
    float: left;
    margin-right: 35px;
  }
}