@import "colors";

.files h3{
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid $buttom_border;
}

.files a{
  font-size: 12px;
}

.files a.remove{
  color: $grey;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 0px;
}

.files ul{
  list-style: none;
}

.files li{
  float:left;
  width: 100%; margin-top: 5px;
  border-bottom: 1px dotted;
  min-height: 30px;
  position: relative;
}

.files li.input-file{
  margin-top: 20px;
  border: none;
}

.files input[type="submit"]{
  margin-top: 10px;
}