@import "compass/utilities";

$sprite-icons: sprite-map("sprites/*.png",$new-position: 100%, $spacing: 15px, $new-repeat: no-repeat);

.sprite.page-title {
  height: 15px;
  background: sprite($sprite-icons, titulo) no-repeat;
  color: transparent;
}

.sprite.new-document-button {
  height: 37px;
  background: sprite($sprite-icons, botao_novo_documento) no-repeat;
  color: transparent;
  margin: 0 auto;
  width: 319px;
}

.sprite.new-client-botton {
  height: 37px;
  background: sprite($sprite-icons, botao_novo_cliente) no-repeat;
  color: transparent;
  margin: 0 auto;
  width: 319px;
}

.sprite.new-client {
  height: 25px;
  background: sprite($sprite-icons, novo_cliente) no-repeat;
  color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #59643d;
  margin-bottom: 20px;
  width: 948px;
}

.sprite.new-document {
  height: 25px;
  background: sprite($sprite-icons, novo_servico) no-repeat;
  color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #59643d;
  margin-bottom: 20px;
  width: 948px;
}

.sprite.show-client {
  height: 25px;
  background: sprite($sprite-icons, cliente) no-repeat;
  color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #59643d;
  margin-bottom: 20px;
  width: 948px;
}

.sprite.edit-client {
  height: 25px;
  background: sprite($sprite-icons, editando_cliente) no-repeat;
  color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #59643d;
  margin-bottom: 20px;
  width: 948px;
}

.sprite.new-user {
  height: 25px;
  background: sprite($sprite-icons, novo_usuario) no-repeat;
  color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #59643d;
  margin-bottom: 20px;
  width: 948px;
}

.sprite.edit-user {
  height: 25px;
  background: sprite($sprite-icons, editando_usuario) no-repeat;
  color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #59643d;
  margin-bottom: 20px;
  width: 948px;
}

.sprite.config-user {
  height: 25px;
  background: sprite($sprite-icons, configurar_usuario) no-repeat;
  color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #59643d;
  margin-bottom: 20px;
  width: 948px;
}

.sprite.sac {
  height: 25px;
  background: sprite($sprite-icons, atendimento) no-repeat;
  color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #59643d;
  margin-bottom: 20px;
  width: 948px;
}

