<tr>
  <td><%= link_to(inpi.number, entry_path(inpi.file, inpi.number)) %></td>
  <td><%= link_to(inpi.client.company_name, sac_path(inpi.client)) %></td>
  <td><%= inpi.company_name %></td>
  <td><%= inpi.brand %></td>
  <td><%= inpi.conflict %></td>
</tr>
