<section class='resource'>
  <section class='resources-btns conflict_files'>
    <%= form_tag(send_conflict_file_path) do %>
      <ul>
        <li>
          <%= label_tag 'Arquivo INPI' %>
          <%= text_field_tag :inpi_file_url, nil, class: 'large' %>
        </li>
      </ul>
      <%= submit_tag 'enviar' %>
    <% end %>
  </section>
</section>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Arquivo</th>
      <th>Data</th>
      <th>Status</th>
      <th>Quantidade de Registros</th>
      <th>Finalizado em</th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td><%= file.finished? ? link_to(file.name, conflict_path(file)) : file.name %></td>
        <td><%= l(file.created_at) %></td>
        <td><%= t(file.status, scope: [:state_machines, :inpi_file]) %></td>
        <td><%= file.entries.count if file.finished? %></td>
        <td><%= l(file.finished_at) if file.finished? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
