<section class='resource client index'>
  <%= render partial: 'sac/tabs/info' %>
  <%= render partial: 'sac/tabs/documents' %>

  <%= content_for :process do%>
    <%= render partial: 'form' %>
  <% end -%>

  <%= render partial: 'sac/tabs/auth' %>
  <%= render partial: 'sac/tabs/main' %>

  <section class='resource_menu'>
    <section class='resource_title'>
      <h1 class='sprite sac'>Atendimento</h1>
    </section>
  </section>

  <%= render 'sac/form' unless @client.new_record?%>
</section>
