<tr>
  <td><%= client_counter.succ %></td>
  <td><%= link_to client.company_name, sac_path(client)%></td>
  <td><%= m(client.brands.map(&:name).join(" | ")) %></td>
  <td><%= formatted_cpf(client.cpf) || formatted_cnpj(client.cnpj)%></td>
  <td><%= client.client_processes.active.count%></td>
  <td><%= client.translate_annuity%></td>
  <td><%= client.sac.status_humanize if client.sac.present? %></td>
  <td><%= (l client.sac.historics.first.created_at) unless client.sac.historics.empty? %></td>
</tr>
