<%= will_paginate @clients, renderer: BootstrapLinkRenderer %>

<section class='filters clearfix'>
  <%= form_tag(filter_reports_path, method: :get) do%>
    <section class='line'>  
      <%= select_tag 'atendiment_status', options_for_select(SacStatus.to_a, params[:atendiment_status]), prompt: 'Status de Atend.' %>
      <%= select_tag 'annuity', options_for_select(Client::ANNUITIES, params[:annuity]), prompt: 'Anuidade' %>
      <%= select_tag 'status' , options_for_select(all_status_to_client_for_select, params[:status]), prompt: 'Status do Cliente' %>
      <section class='per-page'>
        <%= label_tag 'Quantidade por Página:' %>
        <%= text_field_tag :per_page, params[:per_page] %>
      </section>
    </section>
    <section class='line'>  
      <%= select_tag 'document_type' , options_for_select(Client::DOCUMENT_TYPE, params[:document_type]), prompt: 'Tipo de Pessoa' %>
      <%= select_tag 'user' , options_for_select(User.all.collect{|x| [x.name, x.id]}, params[:user]), prompt: 'Atendido por' %>
      <section class='per-date'>
        <%= label_tag 'Data Atendimento:' %>
        <%= text_field_tag :started_at , params[:started_at ], placeholder: 'Data de' , class: 'mask-date' %>
        <%= text_field_tag :finished_at, params[:finished_at], placeholder: 'Data até', class: 'mask-date' %>
      </section>
    </section>
    <%= submit_tag 'Filtrar', :disable_with => 'Filtrando...', class: 'button' %>
  <% end -%>
</section>
