<header id="top" class="<%= user_signed_in? ? 'logged' : 'logged_out'%>">
	<section class="logo">
		<%= link_to image_tag("logo.png"), root_path %>
	</section>
	<section class="title">
		<h1 class='sprite page-title'> Sistema de Controle de Atendimento</h1>
	</section>
</header>