<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= content_for?(:title) ? yield(:title) : "Empire" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <section id="content">
      <section id='container' class='document'>
        <%= yield %>
      </section>
    </section>
  </body>
</html>
